*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    position: fixed;
    background-color: #333;
    align-items: center;
}
#Logo{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}
nav ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}

/* Container */
#Container{
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    transition: 1s;
}
.Min-body{
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    padding-top: 200px;
}
.container-content{
    display: flex;
    justify-content: space-between;
    padding: 10;
    color: #fff;
    align-items: center;
    flex-wrap: wrap;
}
.box-text,.box-img{
    width: 50%;
    padding: 0px 50px;
}
.box-img img{
    width: 100%;
}
.box-text h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    padding: 20px;
}
.imgs img{
    width: 200px;
    margin: 5px;
    height: 200px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

.imgs img:hover{
    box-shadow: 0px 0px 15px #fff;
    transform: scale(1.1);
}

@media screen and (max-width:700px) {
    .box-text,.box-img{
        width: 100%;
    }
    .imgs img{
        width: 150px;
        height: 150px;
    }
    nav{
        padding: 10px 10px ;
    }
    .box-text h1{
        font-size: 45px;
    }
}